[dev]
    AdapterListen = "127.0.0.1:12350"
    PDHost = "ip:port"
    TimeInterval = 5
    AdapterEnableTLS = false
    TiKVEnableTLS = false

[default]
    AdapterListen = ":12350"
    PDHost = "ip:port"
    TimeInterval = 5
    AdapterEnableTLS = true
    AdapterCACertificate = "/path/to/certs/ca.pem"
    AdapterServerCertificate = "/path/to/certs/adapter.pem"
    AdapterServerKey = "/path/to/certs/adapter.key"
    TiKVEnableTLS = true
    TiKVCACertificate = "/path/to/certs/ca.pem"
    TiKVClientCertificate = "/path/to/certs/client.pem"
    TiKVClientKey = "/path/to/certs/client.key"
